html {
    font-size:14px
}
body {
        width:100%;
        height:100%;
        background:#333;
        font-family:'Inconsolata';
}
    

#ants, #container {
    width:40%;
    height:50%;
    top:25%;
    left:30%;
    position:absolute;
    text-align: left;
}

#ants {
    top:10%;
    left:25%;
    width:50%;
}
#title {
    font-size:1.4rem;
    color:#fff;
    font-weight:700;
    letter-spacing:2px;
    font-family:helvetica;
}

h2 {
    font-size:1.2rem;
    color:rgba(255,255,255,0.3);
    font-weight:300;
    padding-bottom: 1rem;
    margin-top:0.3rem;
}

p {
    font-size:1rem;
    color:rgba(255,255,255,0.7);
    line-height: 1.5rem;
}

a {
    text-decoration:none;
    border-bottom: 1px solid transparent;
    color:rgba(255,255,255,0.3);
}

a:hover {
    border-color: rgba(255,255,255,0.3);
}
    
#return a {
    border:none;
    -webkit-transition:all .3s ease-in-out;
    -moz-transition:all .3s ease-in-out;
    -ms-transition:all .3s ease-in-out;
    -o-transition:all .3s ease-in-out;
    transition:all .3s ease-in-out
}
    
#return a:hover {
    color:rgba(255,255,255,1);
    -webkit-transition:all .3s ease-in-out;
    -moz-transition:all .3s ease-in-out;
    -ms-transition:all .3s ease-in-out;
    -o-transition:all .3s ease-in-out;
    transition:all .3s ease-in-out
}